

.head_left{
	width: 20%;
    overflow: hidden;
    float: left;
}

.head_right{
	width: 80%;	
    overflow: hidden;
    float: right;
}

.logo {
    float: left;
    padding: 5px;
}

.header_text {
    float: left;
    padding: 14.5px;
}
.content_left {
	margin: 0 1% 0 0;
	float: left;
	background-color: rgba(255, 0, 0, 0.5);
	width: 34%;
	padding: .5%;
	border-color: #000000;
	border-style: solid;
}
.content_right {
	margin: 0;
	float: left;
	background-color: rgba(255, 0, 0, 0.5);
	width: 62%;
	padding: .5%;
	border-color: #000000;
	border-style: solid;
}
.footer {
	background: #e7e7e7;
    height: 62px;
    padding: 1%;
}
.toe {
	font-style:	italic;
	width: 1200px;
	margin: 0 auto;
}
.form {
	width: 30%;
	margin: 0% auto;
	background: rgba(255, 0, 0, 0.5);
	border-style: solid;
	border-color: rgba(255, 0, 0, 0.5);
}

.button {
	width: 28%;
    height: 30px;
	background-color: #04e4f4;
	color: white;
	text-align: center;
}

.button a{
	text-align: center;
}
