#wrapper {
    width: 100%;
    margin: 0 0 -2.83% 0;
    height: 93%;
}

#header {
	overflow: hidden;
	width: 1200px;
	margin:0 auto;
}

#wrapper:after {
	content: "";
	display: block;
}

#top {
	height: 6%;
    background: white; 
    background: -webkit-linear-gradient(white, #d3d3d3);
    background: -o-linear-gradient(white, #d3d3d3);
    background: -moz-linear-gradient(white, #d3d3d3);
    background: linear-gradient(white, #d3d3d3);
}

#menu {
}

#content {
	min-height: 40%;
}

.news_message {
	margin: 0 0 10px 0;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.news_title {
	font-weight: bold;
}

.news_date {
	font-style: italic;
}

.news_text {
	font-style: normal;
}

@media only screen and (min-width: 1200px) {
	#wrapper {
	    width: 1200px;
	    margin: -60px auto -62px auto;
	    padding-top: 60px;
	    height: 100%;
	}			
}