#wrapper {
	width: 80%;
	margin: 0 auto -4.2% auto;
	min-height: 100%;
}

#wrapper:after {
	content: "";
	display: block;
}

#top {
	background-color: #BD0808;
}

#menu {
	margin: .5% 0 .5% 0;
}

#content {
	margin-top: 1%;
	min-height: 40%;
}

