#wrapper {
	width: 80%;
	margin: 0 auto;
	min-height: 100%;
	margin-bottom: -25px;
}

#wrapper:after {
	content: "";
	display: block;
}

#top {
	background-color: #BD0808;
	border-style: solid;
    border-width: 0px 0px .2em 0px;
	border-color: #BDBD08;
}

#header {
	border-style: solid;
	border-color: ;
}

#menu {
	margin: .5% 0 .5% 0;
}

#content {
	background-color: red;
	margin-top: .2em;
}

#footer {
	background-color: #00FF57;
	border-color: #00FF57;
	border-top: blue; 
	border-width: .2em;
	border-style: solid;
}

#toe {
	font-style:	italic;
	width: 80%;
	margin: 0 auto;
}

#toe p{
	color: white;
	margin: .5% 0px .5% 0px;
}