nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

nav ul li{
	float:left;
	width: 19%;
	overflow: hidden;
	border-style:solid;
	border-color:black;
	border-width: .2em;
	margin: .265em;
}

nav ul li a{
	display:block;
	height:40px;
	width:100%;
	margin:0px;
	text-align:center;
	padding-top:10px;
	font-size:18pt;
	text-decoration:none;
	color:black;
}

nav ul li a:hover {
	background:green;
}

nav ul li:hover > ul {
	display: block;
}