nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
	border-width: 0px;
}

nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

nav ul li{
	float:left;
	width: 19%;
	margin: 0 .5%;
	overflow: hidden;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	border-width:0px;
}

nav ul li a{
	display:block;
	height:40px;
	width:100%;
	margin:0px;
	background:linear-gradient(#0044DF,#1300FF);
	background:-o-linear-gradient(#0044DF,#1300FF);
	background:-moz-linear-gradient(#0044DF,#1300FF);
	background:-webkit-linear-gradient(#0044DF,#1300FF);
	text-align:center;
	padding-top:10px;
	font-size:18pt;
	text-decoration:none;
	color:black;
}

nav ul li a:hover {
	background:#1300FF;
}

nav ul li:hover > ul {
	display: block;
}