* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../img/Cloudy bg.jpg") repeat;
	margin: 0;
	font-size: 100%;
	overflow: hidden;
}

p {
	margin: 0;
	font-size: 1.4em;
	opacity: 1;
}

h1, h2 {
	margin: 0;
    font-size: 1.7em;
    text-align: center;
}

html, body {
	min-height: 100%;
}

img{
	width: 100%;	
}

a{
	text-decoration: none;
	font-size: 1.4em;
	color: white;
	display: block;
}

footer {
	position: absolute;
	width: 100%;
	background: #e7e7e7;
    height: 62px;
    padding: 1%;
}

.spacer {
	margin: 0;
	padding: 0;
	height: 1%;
}

#game_canvas {
	border: 1px solid black;
	width: 1000;
	height: 840;
}

.small {
	font-size: 1em;
}
