body {
	margin: 0;
}

p {
	margin: 0;
	font-size: 1em;
	opacity: 1;
}

h1, h2 {
	margin: 0;
}

* {
    margin: 0;
}

html, body {
	height: 100%;
}

html {
	background-image: url("../img/Cloudy bg.jpg");
	background-size: 100%;
}

.spacer {
	margin: 0;
	padding: 0;
	height: 1%;
}
