* {
    margin: 0;
}

html, body {
	height: 100%;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
	min-height: 100%;
	margin-bottom: -50px;
}
#wrapper:after {
	content: "";
	display: block;
}

#header {
	background-color: gray;
}

#menu {
	background-color: white;
}

#content {
	background-color: red;
}

#footer {
	background-color: green;
}
#footer, #wrapper:after {
	height: 50px;
}
