* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 100%;
}

p {
	margin: 0;
	font-size: 1.4em;
	opacity: 1;
}

h1, h2 {
	margin: 0;
    font-size: 1.7em;
    text-align: center;
}

html, body {
	min-height: 100%;
}

html {
	background-image: url("../img/Cloudy bg.jpg");
	background-size: 100%;
	box-sizing: border-box;
}

img{
	width: 100%;	
}

a{
	text-decoration: none;
	font-size: 1.4em;
	color: white;
	display: block;
}

footer {
	background: #e7e7e7;
    height: 62px;
    padding: 1%;
}

.spacer {
	margin: 0;
	padding: 0;
	height: 1%;
}

.small {
	font-size: 1em;
}
