#wrapper {
	width: 80%;
	margin: 0 auto;
}

#header {
	background-color: gray;
}

#menu {
	background-color: yellow;
}

#content {
	background-color: red;
}

#footer {
	background-color: green;
}
